*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(234, 145, 175);
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;


}
h1{
    /* font-style:italic; */
    font-size:60px;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(12, 12, 12, 0.1);
    font-size: 8vmin;
    color: rgb(130, 4, 4);

}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(38, 35, 35);
    color: white;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(38, 35, 35);
    color: white;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: rgb(238, 235, 216);
    font-size: 5vmin;

}
.msg-container{
    height:100vmin ;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;


}

/*  msg container (new game or winner) ko tbhi show krenge jab hme chahiye so, initially hidden */

.hide{
     display: none;    
}